/* CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  caret-color: var(--primary-clr-400);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
/* end CSS reset */

body {
  font-family: var(--ff);
  font-weight: var(--fw-regular);
  font-size: 14px;
}

.container {
  padding: 0 var(--container-padding);
  margin-inline: auto;
}

.page-center {
  min-height: calc(100vh - 70px);
  display: grid;
  place-content: center;
  background-color: var(--primary-clr-1000);
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* froms styling */

.login-page,
.register-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-page > *,
.register-page > * {
  flex-basis: 100%;
}

.register-side,
.login-side {
  display: grid;
  gap: 3.125rem;
}

.register-side h2,
.login-side h2 {
  font-size: var(--fs-30px);
  color: var(--primary-font-clr-100);
  line-height: 1.1;
  letter-spacing: 1px;
}

.register-side p,
.login-side p {
  color: var(--secondary-clr-300);
  letter-spacing: 1px;
}

.register-side .register-btn,
.login-side .login-btn {
  cursor: pointer;
  width: 200px;
  border: none;
  border-radius: 1.875rem;
  padding: 0.625rem 1.25rem;
  font-size: var(--fs-16px);
  font-weight: var(--fw-bold);
  color: var(--primary-font-clr-1000);
  background-color: var(--primary-clr-400);
}

.login-side .login-form,
.register-side .register-form {
  display: grid;
  gap: 3.125rem;
}

.register-form > *,
.login-form > * {
  display: grid;
  gap: 0.3125rem;
}

.login-side .login-form input,
.register-side .register-form input {
  padding: 0.625rem 0;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid var(--secondary-clr-700);
}

.register-form .password,
.login-form > * .password {
  position: relative;
}

.register-form .password > *:first-child,
.login-form > * .password > *:first-child {
  width: 100%;
}

.password .toggle {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 1.125rem;
  color: var(--secondary-clr-500);
}

.submit-login-btn,
.submit-register-btn {
  cursor: pointer;
  border: none;
  padding-block: 0.625rem;
  border-radius: 1.5rem;
  background-color: var(--primary-clr-400);
  color: var(--primary-font-clr-1000);
  font-size: var(--fs-16px);
  font-weight: var(--fw-bold);
}

.register-form > * .errMsg,
.login-form > * .errMsg {
  color: hsl(0, 100%, 50%);
  font-size: 0.75rem;
}

/* Scrollbar Styling */

::-webkit-scrollbar {
  width: 0.9325rem;
}

::-webkit-scrollbar-track {
  background-color: var(--secondary-clr-900);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-clr-400);
}

/* Products pagination Style */

.section-title {
  width: fit-content;
  margin-inline: auto;
  font-size: 2rem;
  font-weight: var(--fw-black);
  color: var(--primary-clr-400);
  margin-bottom: 1.5625rem;
}

.products-grid {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.products-grid .product {
  position: relative;
}

.product:hover .product__content {
  opacity: 1;
}

.product__img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.product__content {
  position: absolute;
  display: grid;
  gap: 0.625rem;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--opacity-clr-1000);
  width: 100%;
  padding: 0.75rem 0.625rem 0;
  text-align: center;
  opacity: 0;
  transition: 0.3s;
}

.product__title {
  font-size: 1.3125rem;
  line-height: 1;
  color: var(--primary-clr-400);
}

.product__price {
  font-size: 2rem;
  width: max-content;
  margin-inline: auto;
  color: var(--primary-font-clr-100);
  position: relative;
}

.product__price::after {
  content: "SYP";
  position: absolute;
  font-size: 1rem;
  font-weight: var(--fw-bold);
  top: 0;
  right: -25%;
}

.navigation-arrows {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}

.navigation-arrows > * {
  cursor: pointer;
  padding: 0.3125rem;
  font-size: 30px;
  font-weight: var(--fw-bold);
  border-radius: 50%;
  background-color: var(--primary-clr-400);
  color: var(--primary-clr-1000);
}

.navigation-arrows .disabled {
  pointer-events: none;
  opacity: 0.5;
}
